<div class="modal">
	<ion-header-bar>
	<h1 class="title">Login</h1>
	<div class="buttons">
		<button class="button button-clear" ng-click="closeLogin()">Close</button>
	</div>
</ion-header-bar>
<ion-content>

<div class="list card" ng-if="isUserLogged">

  <div class="item item-avatar">
    <img src="{{loginData.picture}}">
    <h2>Welcome, <b>{{loginData.name}}</b></h2>
    <p>{{loginData.email}}</p>
  </div>

 
 <button class="button button-full button-assertive" ng-click="doLogout()">
  Logout
</button>
</div>
<div class="list card" ng-if="!isUserLogged">

  <div class="item item-avatar">
    <img src="http://www.googlecover.com/images/hover_img.png">
    <h2>You are not login yet.</h2>
    <p>Please login to continue</p>
  </div>

 
 <button class="button button-full button-assertive" ng-click="doLogin()">
  Login using IRRI GMail
</button>
</div>



</ion-content>
</div>
